.navbar {
  padding: 1rem;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  margin: 0;
  font-size: 1.5rem;
}

.navbar-content {
  display: flex;
  align-items: center;
}

.welcome-message {
  margin: 0;
  font-size: 1rem;
}

.login-message {
  margin: 0;
  font-size: 1rem;
}



.left-box {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* background-color: #eee; */
  margin-right: 20px;
  margin-left: 20px;
  justify-content: space-evenly;
}

.product-item {
  background-color: #fff;
  flex: 0 0 calc(31.333333% - 20px - 8px);
  max-width: calc(32.333333% - 20px);
  text-align: center;
  text-align: -webkit-center;
  padding: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 20px;
  align-items: center;
}

.out-of-stock {
  cursor: default;
}

.product-item:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.out-of-stock:hover {
  box-shadow: none;
}

.modal-content button,
.modal-content input,
.cart-sidebar button,
.product-item button,
.modal-product-content button,
input::file-selector-button {
  cursor: pointer;
  background-color: inherit;
  border: 1px solid #007bff;
  border-radius: 8px;
  color: #007bff;
  width: fit-content;
  padding: 4px 10px;
}

.modal-content button:hover,
.cart-sidebar button:hover,
.product-item button:hover,
.modal-product-content button:hover {
  background-color: #007bff;
  border: 1px solid #fff;
  color: #fff;
  width: fit-content;
  padding: 4px 10px;
}

.product-item button svg,
.product-item button path {
  fill: #007bff;

}

.product-item button:hover path,
.product-item button:hover svg {
  fill: #fff;

}

.out-of-stock button {
  cursor: default;
}

.product-item img {
  height: 100%;
  max-height: 200px;
  max-width: 100%;
  width: auto;
  transition: all 0.3s ease;
}

.out-of-stock img {
  filter: grayscale(100%);
  filter: opacity(50%);
}

.out-of-stock-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.out-of-stock-overlay p,
.out-of-stock-cart {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  background-color: #007bff;
  padding: 3px 10px;
  border-radius: 8px;
}

.cart-out-of-stock {
  opacity: 0.5;
}

.product-resume h3,
.product-resume p {
  margin: 0;

}

.image-box {
  width: 100%;
  height: 200px;
}

.modal-content .image-box {
  height: 300px;
}

.images-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-source {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.image-item {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

}

/* Estilo do carrossel */

.carousel {
  position: relative;
}

.modal-content .carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 300px;
  z-index: 1;
  max-height: 300px;
}

/* Modal */

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translate(0, 0) !important;
  cursor: pointer;
  padding: 0;
  z-index: 100;
  text-align: -webkit-center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  cursor: default;
  max-height: 80vh;
  width: 80vw;
  overflow-y: auto;
}

.box-quantity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.close {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  cursor: pointer;
}

/* Header */

/* Estilo para o cabeçalho */

header,
footer {
  background-color: #f8f8f8;
  padding: 10px 20px;
}

header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 99;
  position: fixed;
  width: -webkit-fill-available;
  top: 0;
  left: 0;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #007bff;
}

footer a {
  color: #007bff;
  text-decoration: none;
}

.links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.developer-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.developer-info img {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body-container {
  margin-top: 90px;
}

.card-header {
  color: #007bff;
  margin: 0;
}

/* Estilo para o logotipo */

.logo img {
  height: 50px;
}

/* Barra de Navegação */

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar ul li a:hover,
.navbar ul .selected a {
  color: #007bff;
}

/* Barra de Busca */

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-right: 10px;
}

.search-bar button,
.navbar-content button {
  padding: 5px 10px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #0056b3;
}

/* Ícone do Carrinho */

.cart-icon img {
  width: 30px;
}

/* Dropdown marcas */

/* Dropdown de Marcas */

.navbar {
  z-index: 99;
  gap: 50px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.navbar ul li {
  position: relative;
  display: inline-block;
  flex: 0 0 calc(20% - 20px - 16px);
}

.navbar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar ul .dropdown li a:hover,
.navbar ul li a:hover {
  color: #007bff;
  cursor: pointer;
}

/* Estilo do dropdown de marcas */

.navbar ul .dropdown {
  /* display: none; */
  position: fixed;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 99;
  width: 100%;
  padding: 0;
  text-align: left;
  -webkit-column-count: 6;
  -webkit-column-gap: 20px;
  -moz-column-count: 6;
  -moz-column-gap: 20px;
  column-count: 6;
  column-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.navbar ul li :hover .dropdown {
  display: block;
}

.navbar ul .dropdown li {
  padding: 10px;
}

.navbar ul .dropdown li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.body-products {
  margin-top: 100px;
}

/* Cart */

.cart-count {
  position: absolute;
  top: 5px;
  right: 0px;
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 50%;
  font-size: 12px;
  width: 15px;
  height: 15px;
  text-align: center;
}

.cart-message {
  position: absolute;
  max-width: 103px;
  right: 62px;
  background-color: #ccc8;
  padding: 4px;
  bottom: 10px;
  border-radius: 8px;
  color: #333;
  font-size: 14px;
  box-shadow: -2px 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.cart-message:after {
  content: '';
  position: absolute;
  top: 30%;
  left: 100%;
  border: solid transparent;
  height: 0;
  width: 0;
  border-left-color: #ccc8;
  border-width: 6px;
  margin-right: -6px;
}

.cart-sidebar {
  position: fixed;
  right: -300px;
  top: 75px;
  width: 300px;
  height: -webkit-fill-available;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  z-index: 95;
  gap: 21px;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.7s ease, opacity 0.7s ease;
}

.cart-sidebar.visible {
  transform: translateX(0);
  opacity: 1;
  right: 0px;
}

.cart-sidebar img {
  width: 30px;
  max-height: 100%;
}

.cart-sidebar picture {
  align-content: center;
}

.cart-sidebar ul {
  padding: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-sidebar li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.quantity-box {
  display: flex;
  gap: 5px;
  align-items: center;
}

.quantity-box button {
  height: fit-content;
}

/* Formulário de Checkout */

.checkout-form {
  margin-top: 20px;
}

.checkout-form input {
  padding: 5px;
  margin-bottom: 10px;
  width: calc(100% - 10px);
}

.checkout-form button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

.checkout-form button:hover {
  background-color: #218838;
}

.selected-filter {
  background-color: #007bff80;
  color: white;
  padding: 5px;
  border-radius: 8px;
  margin-right: 5px;
  cursor: pointer;
  width: fit-content;
}

.selected-filters {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.open-header {
  display: none;
}

.modal-header {
  display: flex;
  justify-content: space-between;

}

.btn-close {
  border: none !important;
}

.categories-group {
  display: flex;

  flex-wrap: wrap;
  gap: 10px;
}

.categories-group label {
  flex: 0 0 calc(25% - 16px);
}

.logout-button,
.button-primary {
  margin-left: 10px;
  padding: 5px 10px;
  border: none !important;
  background-color: #007bff !important;
  color: white !important;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}

.button-primary:hover,
.logout-button:hover {
  background-color: #0056b3 !important;
  box-shadow: rgba(0, 0, 0, 0.1) !important;
}

.button-primary[type="submit"] {
  align-self: center;
}

@media (max-width: 768px) {
  .open-header {
    display: block;
    cursor: pointer;
  }

  .header-container .navbar {
    display: flex;
    align-items: flex-start;
    position: fixed;
    left: -300px;
    /* Altere para posicionar o menu fora da tela à esquerda */
    top: 75px;
    width: 300px;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    z-index: 95;
    gap: 21px;
    flex-direction: column;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.7s ease, opacity 0.7s ease;
    overflow: auto;
    height: -webkit-fill-available;
    justify-content: flex-start;
  }

  .header-container .navbar.visible {
    transform: translateX(0);
    opacity: 1;
    left: 0;
  }

  .navbar ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
  }

  .navbar ul .dropdown {
    flex-direction: column;
    position: relative;
    box-shadow: none;
    gap: 0;
  }

  .navbar ul li {
    display: block;
    font-size: 18px;
    flex: 0;
  }

  .navbar ul li a {
    color: #333;
    font-size: 24px;
    transition: background-color 0.3s ease;
  }

  .product-item {
    flex: 100%;
    max-width: 100%;
  }

  .categories-group label {
    flex: 0 0 calc(50% - 16px);
  }
}